<h2 mat-dialog-title style="text-align: center; font-weight: bold; color: #D32F2F; font-size: 24px; border-bottom: 2px solid #D32F2F; padding-bottom: 10px;">Eliminar Paciente</h2>
<mat-dialog-content style="text-align: center; padding: 20px;">
  <p style="font-size: 18px; color: #555;">
    ¿Está seguro de que desea eliminar al paciente <strong style="color: #D32F2F;">{{ data.name }}</strong>?
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end" style="justify-content: center; padding: 10px;">
  <button mat-button (click)="onCancel()" style="margin-right: 10px; border: 1px solid #ccc; border-radius: 5px; background-color: #f5f5f5; color: #333; transition: background-color 0.3s; padding: 8px 16px; font-weight: bold;">
    Cancelar
  </button>
  <button mat-button color="warn" (click)="onConfirm()" cdkFocusInitial style="border: none; border-radius: 5px; background-color: #D32F2F; color: white; transition: background-color 0.3s; padding: 8px 16px; font-weight: bold;">
    Eliminar
  </button>
</mat-dialog-actions>
