<h2 mat-dialog-title>Agregar Pastilla</h2>
<mat-dialog-content>
  <form>
    <mat-form-field>
        <mat-label>Medicamento</mat-label>
        <input matInput [(ngModel)]="pastilla.medicamento" name="medicamento" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Fecha de caducidad</mat-label>
        <input matInput type="datetime" [(ngModel)]="pastilla.fechacadu" name="fechacadu" required>
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>Stock</mat-label>
        <input matInput type="number" [(ngModel)]="pastilla.stock" name="stock" required>
      </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial>Agregar</button>
</mat-dialog-actions>