<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card">
        <img src="Imagenes\FarmaAlertPNGWhite.svg" width="95%"  alt="FarmaAlertPNGWhite">
      <div class="card-body">
        <h4 class="card-title text-center">¿Olvidaste tu contraseña?</h4>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="ejemplo@gmail.com">
        </div>
        <button class="btn btn-primary btn-block">Recuperar contraseña</button>
        <div class="text-center mt-3">
          <a href="#" class="text-muted">¿No tienes cuenta? Registrarse</a>
        </div>
      </div>
    </div>
  </div>