<div class="d-flex">
      <!-- Sidebar -->
      <div class="d-flex flex-column p-3 text-white bg-dark sidebar">
        <img src="Imagenes\FarmaAlertPNGWhite.svg" alt="Farma Alert" width="40%">
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a routerLink="/dashboard" routerLinkActive="active" class="nav-link text-white">📊 Estadísticas</a>
          </li>
          <li>
            <a routerLink="/pacientes" routerLinkActive="active" class="nav-link text-white">🧑‍⚕️ Pacientes</a>
          </li>
          <li>
            <a routerLink="/medicamentos" routerLinkActive="active" class="nav-link text-white">💊 Medicamentos</a>
          </li>
          <li>
            <a routerLink="/trabajadores" routerLinkActive="active" class="nav-link text-white">👨‍🏭 Trabajadores</a>
          </li>
          <li>
              <a routerLink="/login" routerLinkActive="active"  class="nav-link text-danger">🚪 Cerrar sesión</a>
            </li>
        </ul>
      </div>

      <!-- Main content -->
      <main class="content">
        <router-outlet></router-outlet>
      </main>
    </div>