<div class="d-flex flex-column p-3 text-white bg-dark sidebar" >
    <img src="imagenes\FarmaAlertPNGWhite 1.svg" width="100%" alt="FarmaAlertPNGWhite">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link text-white" >📊 Estadísticas</a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">🧑‍⚕️ Pacientes</a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">💊 Medicamentos</a>
      </li>
      <li>
        <a href="#" class="nav-link active">👨‍🏭 Trabajadores</a>
      </li>
      <li>
        <a href="#" class="nav-link text-danger">🚪 Cerrar sesión</a>
      </li>
    </ul>
  </div>
  
