<app-navbar></app-navbar>
<div class="container mt-3">
    <button class="btn btn-success" (click)="agregar()">➕Agregar</button>
  
      <table class="table table-bordered">
        <thead class="table-light">
          <tr>
            <th>Medicamento</th>
            <th>Gramos</th>
            <th>Fecha de Caducacion</th>
            <th>Stock</th>
            <th>editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngtcs="let pastilla of pastillas">
            <td>{{pastilla.id }}</td>
            <td>{{pastilla.nombre }}</td>
            <td>{{pastilla.edad }}</td>
            <td>{{pastilla.paciente }}</td>
            <td>
              <button class="btn btn-warning btn-sm" (click)="editar(pastilla)">✏️</button>
            </td>
            <td>
              <button class="btn btn-danger btn-sm" (click)="eliminar(pastilla.id)">🗑️</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>