<div class="container d-flex justify-content-center align-items-center h-100">
  <div class="card shadow-sm">
    <div class="card-body">
      <div class="d-flex justify-content-center mb-4">
        <img src="Imagenes\FarmaAlertPNGWhite.svg" alt="Farma Alert" width="100" height="100">
      </div>
      <form registroForm (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <input type="email" class="form-control" formControlName="email" placeholder="Email">
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" formControlName="contrasena" placeholder="Contraseña">
          <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility()">
            <i class="bi" [class.bi-eye-slash]="passwordVisible" [class.bi-eye]="!passwordVisible"></i>
          </button>
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" formControlName="confirmarContrasena" placeholder="Confirmar Contraseña">
          <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility()">
            <i class="bi" [class.bi-eye-slash]="passwordVisible" [class.bi-eye]="!passwordVisible"></i>
          </button>
        </div>
        <button type="submit" class="btn btn-primary w-100" [disabled]="!registroForm.valid">
          Registrarse
        </button>
      </form>
      <div class="text-center mt-3">
        <a routerLink="/login">¿Ya tienes cuenta? Iniciar sesión</a>
      </div>
    </div>
  </div>
</div>