<div class="Codigocontraseña-container">
    <div class="Codigocontraseña-card">
        <img src="/Imagenes/FarmaAlertPNGWhite.svg" width="200px" class="mb-4" alt="Logo">
        <h2 class="mb-4">¿Olvidaste tu contaseña?</h2>
        
        <div class="mb-3">
          <label for="Codigo" class="form-label">Codigo</label>
          <input type="number" class="form-control" id="Codigorecuperarcontra">
        </div>
        
        <div class="mensaje">
            <span class="texto">¿No recibiste el código?</span>
            <span class="temporizador">{{ tiempoRestante }}s</span>
        </div>
      
        <div class="botones">
          <button class="btn cancelar" (click)="cancelar()">Cancelar</button>
          <button class="btn confirmar" (click)="confirmar()">Confirmar</button>
        </div>
    </div>
</div>