<app-navbar></app-navbar>
<div class="container mt-4">
    <mat-card class="shadow">
      <mat-card-header>
        <mat-card-title class="text-center">Información General</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <span class="fw-bold">Proteuses:</span> {{ proteuses }} internados
          </mat-list-item>
          <mat-list-item>
            <span class="fw-bold">Trabajadores:</span> {{ trabajadores }} trabajadores
          </mat-list-item>
          <mat-list-item>
            <span class="fw-bold">Pacillas:</span> {{ pacillas }} cajas
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  
    <!-- Gráfica de barras -->
    <mat-card class="mt-4 shadow">
      <mat-card-header>
        <mat-card-title class="text-center">Gráfica de Barras</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="chart-container">
          <canvas #barChartCanvas></canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  
